<div class="mx-auto">

  <div class="toolbar d-md-flex">

      <button title="Upload Image" class="editorbutton  " (click)="insertImage()">
    <img src="../../assets/images/icon/Image.svg" class="svg" />
       </button>
      <!--<button class="btn " (click)="insertTable()"><i class="bi bi-table"></i></button>-->
      <button title="Insert Table" class="editorbutton " (click)="toggleForm()">
          <img src="../../assets/images/icon/Table.svg" class="svg" />
      </button>
<select #formatSelect (change)="onFormatChange(formatSelect)">
  <option value="">Select Text</option>
  <option value="paragraph">Paragraph</option>
  <option value="h1">Heading H1</option>
  <option value="h2">Heading H2</option>
  <option value="h3">Heading H3</option>
  <option value="h4">Heading H4</option>
  <option value="h5">Heading H5</option>
  <option value="h6">Heading H6</option>
</select>

    <button title="Create Link" class="editorbutton " (click)="format('createLink')">
   <img src="../../assets/images/icon/link.svg" class="svg" />
    </button>
    <button title="Remove link" class="editorbutton " (click)="format('unlink')"
      [ngClass]="{ 'd-none': !isLinkSelected }">   <img src="../../assets/images/icon/link_off.svg" class="svg" /></button>



    <button title="Insert Unordered List" class="editorbutton " (click)="insertUnorderedList()">
      <img src="../../assets/images/icon/list.svg" class="svg" />
    </button>

    <button title="Insert Ordered List" class="editorbutton " (click)="insertOrderedList()">
    <img src="../../assets/images/icon/list-ol.svg" class="svg" />
    </button>

  
    <button class="editorbutton " (click)="undo()">
          <img src="../../assets/images/icon/undo.svg" class="svg" />
    </button>
    <button class="editorbutton " (click)="redo()">
        <img src="../../assets/images/icon/redo.svg" class="svg" />
    </button>

    <button title="View Source Code" class="editorbutton btn-text" [ngClass]="isSourceView ? 'btn-dark' : 'btn-primary'"
      (click)="toggleSourceCode()">
    <img src="../../assets/images/icon/Code.svg" class="svg" /></button>



<button  class="editorbutton" (click)="clearFormatting()">Reset</button>


    <button title="Upload PDF" class="editorbutton " (click)="insertPDF()">
Insert PDF
    </button>

<!-- Styled Button -->
<button type="button" (click)="triggerFileUpload()" class="editorbutton">
Import Word
 <input
  type="file"
  id="wordUpload"
  (change)="handleDocxUpload($event)"
  accept=".docx"
  hidden
/>
</button>

  <button class="editorbutton" (click)="exportPDFWithPdfMake()">Export PDF</button>

  </div>

  <div *ngIf="showForm" class="form-container mt-2">
    <input type="number" [(ngModel)]="rows" placeholder="Row count" min="1" class="form-control d-inline w-auto me-2">
    <input type="number" [(ngModel)]="cols" placeholder="Column count" min="1"
      class="form-control d-inline w-auto me-2">
    <button class="btn btn-primary" (click)="insertTable()">Create Table</button>
  </div>

  <div class="toolbar-popup">
    <button title="bold" class="editorbutton" (click)="format('bold')">
      <img src="../../assets/images/icon/format_bold.svg" class="svg" />
    </button>


    <button title="italic" class="editorbutton" (click)="format('italic')">
       <img src="../../assets/images/icon/format_italic.svg" class="svg" />
    </button>
    
   
    <div class="lineHeights">
      <div class="dropdown-wrapper" (mouseleave)="showLineHeight = false">
        <button title="Line Height" class="editorbutton" (click)="showLineHeight = !showLineHeight">
          <img src="../../assets/images/icon/Lineheight.png" class="icon" />
        </button>

        <ul class="dropdown" *ngIf="showLineHeight">
          <li *ngFor="let lh of lineHeights" (click)="applyLineHeightValue(lh)">
            {{ lh }}
          </li>
        </ul>
      </div>
    </div>

    <button class="editorbutton" title="Left Align" (click)="format('justifyLeft')">
         <img src="../../assets/images/icon/Align-left.svg" class="svg" /></button>
    <button class="editorbutton" title="Center Align" (click)="format('justifyCenter')">
      <img src="../../assets/images/icon/Align-center.svg" class="svg" /></button>
    <button class="editorbutton" title="Right" (click)="format('justifyRight')">
      <img src="../../assets/images/icon/Align-right.svg" class="svg" /></button>

    <button class="editorbutton" title="underline" (click)="applyTextDecoration('underline')">
     <img src="../../assets/images/icon/format_underlined.svg" class="svg" />
    </button>
    <button class="editorbutton" title="line-through" (click)="applyTextDecoration('line-through')">
      <s>S</s>
    </button>
    <button class="editorbutton" title="overline" (click)="applyTextDecoration('overline')">
      <span style="text-decoration: overline;">O</span>
    </button>
    <button class="editorbutton" title="underline double" (click)="applyTextDecoration('underline double')">
      <span style="text-decoration: underline double;">𝑈̲</span>
    </button>

    <div class="color-wrapper">
      <button class="editorbutton" title="Text Color" (click)="openColorPicker('text')"><img
          src="../../assets/images/icon/format_color_text.svg" class="icon" /></button>
      <input type="color" #textColorInput class="color-picker" (mousedown)="saveSelection()"
        (input)="applyColorLive('color', $event)" />
    </div>

    <div class="color-wrapper">
      <button class="editorbutton" title="Backgound Color" (click)="openColorPicker('bg')"><img
          src="../../assets/images/icon/color_fill.svg" class="icon" /></button>
      <input class="editorbutton" class="color-picker" #bgColorInput type="color" (mousedown)="saveSelection()"
        (input)="applyColorLive('backgroundColor', $event)" />
    </div>

      <select class="selection" [(ngModel)]="selectedFontSize" (change)="applyFontSize(selectedFontSize)">
      <option *ngFor="let size of fontSizes" [value]="size">
        {{ size === 'Remove Size' ? 'Default Size' : size }}
      </option>
    </select>


  </div>

  <!-- <select (change)="setLineHeight($event.target.value)">
  <option value="1">1</option>
  <option value="1.5">1.5</option>
  <option value="2">2</option>
  <option value="2.5">2.5</option>
  <option value="3">3</option>
</select> -->

  <div class="editorW">
 
   <div
  #editor
  id="editor"
  contenteditable="true"
  [ngClass]="{ 'active': isSourceView }"
  (paste)="handlePaste($event)"
  (mouseup)="handleEditorEvents($event)"
  (keyup)="handleEditorEvents($event)"
  (blur)="handleEditorEvents($event)"
  (mouseover)="handleEditorEvents($event)"
  (input)="saveState()"
>
</div>


  </div>


 <div *ngIf="showWatermark" class="watermark-box">
  Powered by <a href="http://simplycode.in" target="_blank">Kalpna Editor</a> - Free License
</div>

</div>