<div class="mx-auto w-75">

  <div class="toolbar d-md-flex">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button title="Upload Image" class="btn  btn-outline-secondary" (click)="insertImage()"><img
          src="../../assets/images/icon/photo.png" class="icon" /> </button>
      <!--<button class="btn btn-outline-secondary" (click)="insertTable()"><i class="bi bi-table"></i></button>-->
      <button title="Insert Table" class="btn btn-outline-secondary" (click)="toggleForm()"><img
          src="../../assets/images/icon/table.png" class="icon" /></button>
      <button title="Insert Paragraph" class="btn btn-outline-secondary" (click)="insertText('Sample Text')">T</button>
    </div>
    <div class="dropdown d-inline">
      <button title="Insert Heading" class="btn btn-text btn-outline-secondary dropdown-toggle" type="button"
        data-bs-toggle="dropdown">
        H1
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="insertHeading('h1')">H1</a></li>
        <li><a class="dropdown-item" (click)="insertHeading('h2')">H2</a></li>
        <li><a class="dropdown-item" (click)="insertHeading('h3')">H3</a></li>
        <li><a class="dropdown-item" (click)="insertHeading('h4')">H4</a></li>
        <li><a class="dropdown-item" (click)="insertHeading('h5')">H5</a></li>
        <li><a class="dropdown-item" (click)="insertHeading('h6')">H6</a></li>
      </ul>
    </div>

    <button title="Create Link" class="btn btn-outline-secondary" (click)="format('createLink')">
      <img src="../../assets/images/icon/link.png" class="icon" />
    </button>
    <button title="Remove link" class="btn btn-outline-secondary" (click)="format('unlink')"
      [ngClass]="{ 'd-none': !isLinkSelected }"> <img src="../../assets/images/icon/unlink.png" class="icon" /></button>



    <button title="Insert Unordered List" class="btn btn-outline-secondary" (click)="insertUnorderedList()">
      <i class="bi bi-list-ul"></i>
    </button>

    <button title="Insert Ordered List" class="btn btn-outline-secondary" (click)="insertOrderedList()">
      <i class="bi bi-list-ol"></i>
    </button>

    <select class="selection" [(ngModel)]="selectedFontSize" (change)="applyFontSize(selectedFontSize)">
      <option *ngFor="let size of fontSizes" [value]="size">
        {{ size === 'Remove Size' ? 'Default Size' : size }}
      </option>
    </select>
    <button class="btn btn-outline-secondary" (click)="undo()"><img src="../../assets/images/icon/undo.png"
        class="icon" /></button>
    <button class="btn btn-outline-secondary" (click)="redo()"><img src="../../assets/images/icon/redo.png"
        class="icon" /></button>
    <button title="Upload PDF" class="btn btn-outline-secondary" (click)="insertPDF()">
      <img src="../../assets/images/icon/pdf.png" class="icon" />
    </button>
    <button title="View Source Code" class="btn btn-text" [ngClass]="isSourceView ? 'btn-dark' : 'btn-primary'"
      (click)="toggleSourceCode()">{{ isSourceView ? 'Visual' : 'Source Code' }}</button>
  </div>

  <div *ngIf="showForm" class="form-container mt-2">
    <input type="number" [(ngModel)]="rows" placeholder="Row count" min="1" class="form-control d-inline w-auto me-2">
    <input type="number" [(ngModel)]="cols" placeholder="Column count" min="1"
      class="form-control d-inline w-auto me-2">
    <button class="btn btn-primary" (click)="insertTable()">Create Table</button>
  </div>

  <div class="toolbar-popup" [ngClass]="isSourceView ? 'd-none' : 'toolbar-popup'" *ngIf="showToolbar"
    [ngStyle]="{ top: position.top + 'px', left: position.left + 'px' }">
    <button title="bold" class="btn-tooltip" (click)="format('bold')"><i class="bi bi-type-bold"></i></button>


    <button title="italic" class="btn-tooltip" (click)="format('italic')"><i class="bi bi-type-italic"></i></button>
    <button title="Create Link" class="btn-tooltip" (click)="format('createLink')"><img
        src="../../assets/images/icon/link.png" class="icon" /></button>
    <button title="Remove link" class="btn-tooltip" (click)="format('unlink')"
      [ngClass]="{ 'd-none': !isLinkSelected }"><img src="../../assets/images/icon/unlink.png" class="icon" /></button>
    <select class="selection" [(ngModel)]="selectedFontSize" (change)="applyFontSize(selectedFontSize)">
      <option *ngFor="let size of fontSizes" [value]="size">
        {{ size === 'Remove Size' ? 'Default Size' : size }}
      </option>
    </select>

    <div class="lineHeights">
      <div class="dropdown-wrapper" (mouseleave)="showLineHeight = false">
        <button title="Line Height" class="btn-tooltip" (click)="showLineHeight = !showLineHeight">
          <img src="../../assets/images/icon/Lineheight.png" class="icon" />
        </button>

        <ul class="dropdown" *ngIf="showLineHeight">
          <li *ngFor="let lh of lineHeights" (click)="applyLineHeightValue(lh)">
            {{ lh }}
          </li>
        </ul>
      </div>
    </div>

    <button class="btn-tooltip" title="Left Align" (click)="format('justifyLeft')"><i
        class="bi bi-text-left"></i></button>
    <button class="btn-tooltip" title="Center Align" (click)="format('justifyCenter')"><i
        class="bi bi-text-center"></i></button>
    <button class="btn-tooltip" title="Right" (click)="format('justifyRight')"><i class="bi bi-text-right"></i></button>

    <button class="btn-tooltip" title="underline" (click)="applyTextDecoration('underline')">
      <u>U</u>
    </button>
    <button class="btn-tooltip" title="line-through" (click)="applyTextDecoration('line-through')">
      <s>S</s>
    </button>
    <button class="btn-tooltip" title="overline" (click)="applyTextDecoration('overline')">
      <span style="text-decoration: overline;">O</span>
    </button>
    <button class="btn-tooltip" title="underline double" (click)="applyTextDecoration('underline double')">
      <span style="text-decoration: underline double;">𝑈̲</span>
    </button>

    <div class="color-wrapper">
      <button class="btn-tooltip" title="Text Color" (click)="openColorPicker('text')"><img
          src="../../assets/images/icon/text-color.png" class="icon" /></button>
      <input type="color" #textColorInput class="color-picker" (mousedown)="saveSelection()"
        (input)="applyColorLive('color', $event)" />
    </div>

    <div class="color-wrapper">
      <button class="btn-tooltip" title="Backgound Color" (click)="openColorPicker('bg')"><img
          src="../../assets/images/icon/color-picker.png" class="icon" /></button>
      <input class="btn-tooltip" class="color-picker" #bgColorInput type="color" (mousedown)="saveSelection()"
        (input)="applyColorLive('backgroundColor', $event)" />
    </div>

  </div>

  <!-- <select (change)="setLineHeight($event.target.value)">
  <option value="1">1</option>
  <option value="1.5">1.5</option>
  <option value="2">2</option>
  <option value="2.5">2.5</option>
  <option value="3">3</option>
</select> -->

  <div class="editorW">
   <div
  #editor
  id="editor"
  contenteditable="true"
  [ngClass]="{ 'active': isSourceView }"
  (paste)="handlePaste($event)"
  (mouseup)="handleEditorEvents($event)"
  (keyup)="handleEditorEvents($event)"
  (blur)="handleEditorEvents($event)"
  (mouseover)="handleEditorEvents($event)"
  (input)="saveState()"
>
</div>
  </div>
  <button (click)="exportPDFWithPdfMake()">Export PDF</button>
</div>